<!-- <div class="row" id="skills" style=" padding-top: 50px;">

  <h2 class="tittle" >Hard&Soft Skills</h2>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">

  <circle-progress
[percent]="85"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="700"
[imageSrc] ="'../assets/html-5.png'"
[showImage]="true"

></circle-progress>
<h3 class="badge bg-light text-dark">HTML</h3>
</div>

<div class=" text-center col-sm-4 col-md-4 col-lg-4">

<circle-progress
[percent]="75"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="700"
[imageSrc] ="'../assets/css-3.png'"
[showImage]="true"

></circle-progress>
<h3 class="badge bg-light text-dark">CSS</h3>
</div>
<div class=" text-center col-sm-4 col-md-4 col-lg-4">

<circle-progress
[percent]="40"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="700"
[imageSrc] ="'../assets/js.png'"
[showImage]="true"

></circle-progress>
<h3 class="badge bg-light text-dark">Javascript</h3>
</div>
<div class=" text-center col-sm-4 col-md-4 col-lg-4">

<circle-progress
[percent]="35"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="700"
[imageSrc] ="'../assets/angular-480.png'"
[showImage]="true"

></circle-progress>
<h3 class="badge bg-light text-dark">AngularJs</h3>
</div>
<div class=" text-center col-sm-4 col-md-4 col-lg-4">

<circle-progress
[percent]="60"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="700"
[imageSrc] ="'../assets/bootstrap.png'"
[showImage]="true"

></circle-progress>
<h3 class="badge bg-light text-dark">Bootstrap</h3>
</div>
<div class=" text-center col-sm-4 col-md-4 col-lg-4">

<circle-progress
[percent]="65"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="700"
[imageSrc] ="'../assets/github-3.png'"
[showImage]="true"

></circle-progress>
<h3 class="badge bg-light text-dark"s>Github</h3>
</div>

<div class=" text-center col-sm-4 col-md-4 col-lg-4">

<circle-progress
[percent]="70"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="700"
[imageSrc] ="'../assets/ps-1.png'"
[showImage]="true"

></circle-progress>
<h3 class="badge bg-light text-dark">Photoshop</h3>
</div>

<div class=" text-center col-sm-4 col-md-4 col-lg-4">

<circle-progress
[percent]="50"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="700"
[imageSrc] ="'../assets/pr-2.png'"
[showImage]="true"

></circle-progress>
<h3 class="badge bg-light text-dark">Premiere</h3>
</div>

<div class=" text-center col-sm-4 col-md-4 col-lg-4">

<circle-progress
[percent]="90"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="700"
[imageSrc] ="'../assets/edit.png'"
[showImage]="true"

></circle-progress>
<h3 class="badge bg-light text-dark">AudioEdit</h3>
</div>


<div class=" text-center col-sm-4 col-md-4 col-lg-4">

<circle-progress
[percent]="60"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="700"
[imageSrc] ="'../assets/ingles.png'"
[showImage]="true"

></circle-progress>
<h3 class="badge bg-light text-dark">English</h3>
</div>

<div class=" text-center col-sm-4 col-md-4 col-lg-4">

<circle-progress
[percent]="100"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="700"
[imageSrc] ="'../assets/trabajo-en-equipo.png'"
[showImage]="true"

></circle-progress>
<h3 class="badge bg-light text-dark">Teamwork</h3>
</div>

<div class=" text-center col-sm-4 col-md-4 col-lg-4">

<circle-progress
[percent]="100"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="700"
[imageSrc] ="'../assets/aprendiendo.png'"
[showImage]="true"

></circle-progress>
<h3 class="badge bg-light text-dark">Fast learning</h3>
</div>

</div> -->
