#skills{
  background-color:#1B242F;
 }
 h2{
  font-family: 'Kurale', serif;
  }
  .tittle{
  color: #fff;
  padding-left: 75px;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  }

  .circle{
    display:flex;
    flex-direction:column;
    align-items:center;
    }
