#skills{
  background-color:#1B242F;
 }
h2 {
color: #fff;
font-family: 'Raleway', sans-serif;
padding-left: 3em;
padding-top: 1em;

}

h3{
color: #fff;
font-family: 'Kurale', serif;
font-size: 1.3em;
}
