<div class="row" id="educacion" style=" padding-top: 70px;">
  <h2 class="tittle">Educación</h2>
  <div class="text-center">

                    <!--boton agregar editar exp-->
      <button type= "button" class="btn btn-primary" routerLink="/nuevaedu" *ngIf="isLogged">
        <a class="nav-link" style="color:aliceblue">
          Agregar Educacion</a></button></div>


  <div class="col lg 1" ></div>
  <div class="col-lg-11" style="padding-top: 15px;">
      <table class="table">
          <tbody>
              <tr *ngFor="let Educacion of educacion">
                  <td>
                      <h2 style="color: #fff;">{{Educacion.nombreE}}</h2>
                  </td>
                  <td style="color: #fff; padding-top: 18.5px;" >{{Educacion.descripcionE}}</td>
                  <td *ngIf="isLogged">
                    <!--boton editar-->
                      <a class="btn btn-secondary tooltips"
                                   data-placement="top"
                                   data-toggle="tooltip"
                                   data-original-tittle="Edit"
                                   routerLink="/editedu/{{Educacion.id}}"
                                   ><i class="fa fa-pencil"></i></a></td>


                  <td *ngIf="isLogged">
                      <!--boton borrar-->
                        <a class="btn btn-danger tooltips"
                        data-placement="top"
                        data-toggle="tooltip"
                        data-original-tittle="Delete"
                        (click)="delete(Educacion.id)"
                          ><i class="fa fa-times"></i>	</a></td>
              </tr>
          </tbody>
      </table>
  </div>

</div>


