#educacion{

  font-style: oblique;
  background-color:#212529;

}

a, h2{
  font-family: 'Kurale', serif;
  }
  .tittle{
  color: #fff;
  padding-left: 50px;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  }

