<div class="row" id="education" style=" padding-top: 55px;">
  <h2 class="tittle">Educación</h2>

    <div class="row" *ngFor="let education of educations">
      <div class="col-xs-8 col-sm-11 col-md-11 col-lg-11">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" >
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{education.descripcionEdu}}</h5>
                    <small>{{education.fechaEdu}}</small>
                  </div>
                  <p class="mb-1">{{education.tituloEdu}}</p>

                  <a class="btn btn-danger tooltips"
                  data-placement="top"
                  data-toogle="tooltip"
                  data-original-tittle="Edit"
                  ><i class="fa fa-pencil"></i>

                  </a>
                    <a class="btn btn-danger tooltips"
                    data-placement="top"
                    data-toogle="tooltip"
                    data-original-tittle="Delete"
                       ><i class="fa fa-times"></i></a>
                </a>
                <a class="list-group-item list-group-item-action" >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Fundación Carlos Slim</h5>
                      <small>2019</small>
                    </div>
                    <p class="mb-1">  Liderazgo  </p>  <a class="btn btn-danger tooltips"
                    data-placement="top"
                    data-toogle="tooltip"
                    data-original-tittle="Edit"
                    ><i class="fa fa-pencil"></i>

                    </a>
                      <a class="btn btn-danger tooltips"
                      data-placement="top"
                      data-toogle="tooltip"
                      data-original-tittle="Delete"
                         ><i class="fa fa-times"></i></a>
                  </a>



                  <a class="list-group-item list-group-item-action" >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Came educativ@</h5>
                      <small>2019</small>
                    </div>
                    <p class="mb-1">Administración de empresas PYMES </p>
                    <a class="btn btn-danger tooltips"
                    data-placement="top"
                    data-toogle="tooltip"
                    data-original-tittle="Edit"
                    ><i class="fa fa-pencil"></i>

                    </a>
                      <a class="btn btn-danger tooltips"
                      data-placement="top"
                      data-toogle="tooltip"
                      data-original-tittle="Delete"
                         ><i class="fa fa-times"></i></a>
                  </a>
                  <a class="list-group-item list-group-item-action" >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Argentina Programa </h5>
                      <small>2021</small>
                    </div>
                    <p class="mb-1">  #SeProgramar </p>
                    <a class="btn btn-danger tooltips"
                    data-placement="top"
                    data-toogle="tooltip"
                    data-original-tittle="Edit"
                    ><i class="fa fa-pencil"></i>

                    </a>
                      <a class="btn btn-danger tooltips"
                      data-placement="top"
                      data-toogle="tooltip"
                      data-original-tittle="Delete"
                         ><i class="fa fa-times"></i></a>
                  </a>
                <a class="list-group-item list-group-item-action" >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">IALAB</h5>
                      <small>2022</small>
                    </div>
                    <p class="mb-1"> JavaScript (Start coding) </p>
                    <a class="btn btn-danger tooltips"
                    data-placement="top"
                    data-toogle="tooltip"
                    data-original-tittle="Edit"
                    ><i class="fa fa-pencil"></i>

                    </a>
                      <a class="btn btn-danger tooltips"
                      data-placement="top"
                      data-toogle="tooltip"
                      data-original-tittle="Delete"
                         ><i class="fa fa-times"></i></a>
                  </a>

                  <a class="list-group-item list-group-item-action" >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">LinkedIN Learning</h5>
                      <small>2022</small>
                    </div>
                    <p class="mb-1">Fundamentos de la contabilidad</p>
                    <a class="btn btn-danger tooltips"
                    data-placement="top"
                    data-toogle="tooltip"
                    data-original-tittle="Edit"
                    ><i class="fa fa-pencil"></i>

                    </a>
                      <a class="btn btn-danger tooltips"
                      data-placement="top"
                      data-toogle="tooltip"
                      data-original-tittle="Delete"
                         ><i class="fa fa-times"></i></a>
                  </a>
                  <a class="list-group-item list-group-item-action" >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">KING'S COLLEGE LONDON</h5>
                      <small>2022</small>
                    </div>
                    <p class="mb-1">  Basic english 1 & 2 </p>
                    <a class="btn btn-danger tooltips"
                    data-placement="top"
                    data-toogle="tooltip"
                    data-original-tittle="Edit"
                    ><i class="fa fa-pencil"></i>

                    </a>
                      <a class="btn btn-danger tooltips"
                      data-placement="top"
                      data-toogle="tooltip"
                      data-original-tittle="Delete"
                         ><i class="fa fa-times"></i></a>
                  </a>
                  <a class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">UNCA</h5>
                      <small>Actualmente</small>
                    </div>
                    <p class="mb-1">Licenciatura en Ciencias ambientales</p>
                    <a class="btn btn-danger tooltips"
                    data-placement="top"
                    data-toogle="tooltip"
                    data-original-tittle="Edit"
                    ><i class="fa fa-pencil"></i>

                    </a>
                      <a class="btn btn-danger tooltips"
                      data-placement="top"
                      data-toogle="tooltip"
                      data-original-tittle="Delete"
                         ><i class="fa fa-times"></i></a>
                  </a>

                  <a class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Egg Cooperation</h5>
                      <small>Actualmente</small>
                    </div>
                    <p class="mb-1">Quality Assurance</p>
                    <a class="btn btn-danger tooltips"
                    data-placement="top"
                    data-toogle="tooltip"
                    data-original-tittle="Edit"
                    ><i class="fa fa-pencil"></i>

                    </a>
                      <a class="btn btn-danger tooltips"
                      data-placement="top"
                      data-toogle="tooltip"
                      data-original-tittle="Delete"
                         ><i class="fa fa-times"></i></a>
                  </a>

                  <a class="list-group-item list-group-item-action active" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"> Argentina Programa</h5>
                      <small>Actualmente</small>
                    </div>

                    <p class="mb-1">Programador FullStack Junior </p>
                    <small></small>
                    <a class="btn btn-danger tooltips"
                    data-placement="top"
                    data-toogle="tooltip"
                    data-original-tittle="Edit"
                    ><i class="fa fa-pencil"></i>

                    </a>
                      <a class="btn btn-danger tooltips"
                      data-placement="top"
                      data-toogle="tooltip"
                      data-original-tittle="Delete"
                         ><i class="fa fa-times"></i></a>
                  </a>




              </div>
          <!-- <p>



            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Descargar CV</a>



                </p> -->

        </div>
      </div>


