
<div class="sidenav">
         <div class="login-main-text">
            <h2>Bienvenido al Portfolio de<br> Avellaneda Agustín</h2>
            <p>Para ingresar, logeate o registrate...</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">

              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="nombreUsuario">Usuario</label>
                  <input type="text" id="nombreUsuario"  name="nombreUsuario" class="form-control "placeholder="Usuario"
                    [(ngModel)]="nombreUsuario" required />

                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="password"
                  >Contraseña</label
                >
                <input type="password" id="password"  name="password" class="form-control form-control-lg" placeholder="Contraseña" [(ngModel)]="password"
                required />


                </div>
               <button class="btn btn-outline-dark btn-sm px-5"  type="submit">
                  Ingresar
                </button>
  </form>

            </div>
         </div>
      </div>
