
      <div class="row" id="projects" style=" padding-top: 50px;">

        <h2 class="tittle"> Proyectos</h2>
<div class="row" id="sub">
<div class="col-sm-12 col-md-8 col-lg-8">
<h4>Portfolio FullStack</h4>
<p>Portfolio personal, desarrollado en el marco de Argentina programa.</p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4"> <img src="../../../assets/Proyecto portfolio.jpg" class="img-fluid" alt="">
</div>
</div>
<div class="row" id="sub">
<div class="col-sm-12 col-md-8 col-lg-8">
<h4>Desarrollo de Front-End responsive</h4>
<p>Me encuentro desarrollando el FRONT-END responsive de Tinta Negra Studios.</p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4"> <img src="../../../assets/Proyectos TNS.png" class="img-fluid" alt="">
</div>
</div>
<div class="row" id="sub">
<div class="col-sm-12 col-md-8 col-lg-8">
  <h4>Prácticas y ejercicios de JavaScript</h4>
  <p>Desarrollé unos proyectos simples de práctica usando HTML, CSS, y JAVASCRIPT, mayormente enfocados en este último.</p>
</div>
  <div class="col-sm-12 col-md-4 col-lg-4"> <img src="../../../assets/Proyectos counter.png" class="img-fluid" alt="">
  </div>
</div>
<div class="row" id="sub">
  <div class="col-sm-12 col-md-8 col-lg-8">
    <h4>Proyecto4</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime iure, autem sint molestiae ipsam voluptates distinctio quam minima? Non, omnis aperiam natus repellendus sit placeat molestias facilis vitae pariatur optio.</p>
  </div>
    <div class="col-sm-12 col-md-4 col-lg-4"> <img src="../../../assets/Programando.jpg" class="img-fluid" alt="">
    </div>
  </div>
