
      <div class="row" id="projects" style=" padding-top: 50px;">

        <h2 class="tittle"> Proyectos</h2>
<div class="row" id="sub">
<div class="col-sm-12 col-md-8 col-lg-8">
<h4>Proyecto1</h4>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime iure, autem sint molestiae ipsam voluptates distinctio quam minima? Non, omnis aperiam natus repellendus sit placeat molestias facilis vitae pariatur optio.</p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4"> <img src="../../../assets/Programando.jpg" class="img-fluid" alt="">
</div>
</div>
<div class="row" id="sub">
<div class="col-sm-12 col-md-8 col-lg-8">
<h4>Proyecto2</h4>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime iure, autem sint molestiae ipsam voluptates distinctio quam minima? Non, omnis aperiam natus repellendus sit placeat molestias facilis vitae pariatur optio.</p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4"> <img src="../../../assets/Programando.jpg" class="img-fluid" alt="">
</div>
</div>
<div class="row" id="sub">
<div class="col-sm-12 col-md-8 col-lg-8">
  <h4>Proyecto3</h4>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime iure, autem sint molestiae ipsam voluptates distinctio quam minima? Non, omnis aperiam natus repellendus sit placeat molestias facilis vitae pariatur optio.</p>
</div>
  <div class="col-sm-12 col-md-4 col-lg-4"> <img src="../../../assets/Programando.jpg" class="img-fluid" alt="">
  </div>
</div>
<div class="row" id="sub">
  <div class="col-sm-12 col-md-8 col-lg-8">
    <h4>Proyecto4</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime iure, autem sint molestiae ipsam voluptates distinctio quam minima? Non, omnis aperiam natus repellendus sit placeat molestias facilis vitae pariatur optio.</p>
  </div>
    <div class="col-sm-12 col-md-4 col-lg-4"> <img src="../../../assets/Programando.jpg" class="img-fluid" alt="">
    </div>
  </div>
