
      <div class="row" id="projects" style=" padding-top: 70px;">

        <h2 class="tittle"> Proyectos</h2>


<div class="row" id="sub">
<div class="col-sm-12 col-md-8 col-lg-8 ">
<h4>Portfolio FullStack</h4>
<p>Portfolio personal, desarrollado en el marco de Argentina programa.

</div>
<div class="col-sm-12 col-md-4 col-lg-4"> <img src="../../../assets/Proyecto portfolio.jpg" class="img-fluid" alt="">
</div>
</div>
<div class="row" id="sub">
<div class="col-sm-12 col-md-8 col-lg-8">
<h4>Desarrollo de Front-End responsive</h4>
<p>Me encuentro desarrollando el FRONT-END responsive de Tinta Negra Studios.

</div>
<div class="col-sm-12 col-md-4 col-lg-4">  ><img src="../../../assets/Proyectos TNS.png" class="img-fluid" alt="">
</div>
</div>
<div class="row" id="sub">
<div class="col-sm-12 col-md-8 col-lg-8">
  <h4>Prácticas y ejercicios de JavaScript</h4>
  <p>Desarrollé unos proyectos simples de práctica usando HTML, CSS, y JAVASCRIPT, mayormente enfocados en este último.

</div>
  <div class="col-sm-12 col-md-4 col-lg-4"> <img src="../../../assets/Proyectos counter.png" class="img-fluid" alt="">
  </div>
</div>

  </div>
