<div class="row" id="experience" style=" padding-top: 75px;">
  <h2 class="tittle">Experiencia laboral</h2>


            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home"><h2>Prácticas supervisadas en rubro minero</h2></a>
                  <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile"><h2>Ayudante en obras mineras</h2></a>
                  <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages"><h2>Experiencia en rubro gastronómico </h2></a>
                  <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings"><h2>Estudio musical independiente</h2></a>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"> <h2 class="tittle-exp">En Complejo minero Farallón Negro (YMAD)</h2> <a class="subtittle-exp">(30 días)</a> </div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"><h2 class="tittle-exp">Consorcio (Contreras, Moguetta, BBC) </h2> <a class="subtittle-exp">Acueducto “los patos” Minera del altiplano Livent. (90 días)</a> </div>
                  <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"><h2 class="tittle-exp">Mozo, ayudante de cocina, venta en puesto de comida rápida</h2><a class="subtittle-exp">(30 días)</a></div>
                  <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"><h2 class="tittle-exp">Tinta Negra Studios </h2><a class="subtittle-exp">Grabación, producción, mezcla y mastering en estudio musical independiente. (3 años)</a></div>
                </div>
              </div>
            </div>


      </div>

