<div class="row" id="skills" style=" padding-top: 70px;">

  <h2 class="tittle" >Hard&Soft Skills</h2>
  <div class="text-center ">
<!--Boton de editar -->
    <button type= "button" class="btn btn-primary"  routerLink="/newskill"  *ngIf="isLogged">
        <a class="nav-link" style="color:aliceblue">Agregar Skill</a></button>
  </div>
  <!--circulo de progreso -->
  <div class="text-center col-sm-4 col-md-4 col-lg-4 circle"  style="padding-top: 15px;" *ngFor="let skill of skill" >

  <circle-progress
[title]="(skill.nombre)"
[titleColor]="'#fff'"
[showTitle]="true"
[percent]="(skill.porcentaje)"
[showUnits]="false"
[showSubtitle]="false"
[radius]="100"
[imageHeight]="70"
[imageWidth]="70"
[outerStrokeWidth]="14"
[innerStrokeWidth]="3"
[outerStrokeColor]="'#441f55'"
[innerStrokeColor]="'#774e89'"
[animation]="true"
[animationDuration]="750"
[imageSrc] ="''"
[showImage]="false"

></circle-progress>
  <!--boton editar-->
  <div >
  <td *ngIf="isLogged">
  <a class="btn btn-secondary tooltips"
  style="margin: 4px;"
  data-placement="top"
  data-toggle="tooltip"
  data-original-tittle="Edit"
  routerLink="/editskill/{{skill.id}}"
  ><i class="fa fa-pencil"></i></a></td>

<!--boton borrar-->
<td *ngIf="isLogged">
<a class="btn btn-danger tooltips"
style="margin: 4px;"
data-placement="top"
data-toggle="tooltip"
data-original-tittle="Delete"
(click)="delete(skill.id)">
<i class="fa fa-times"></i></a></td>
</div>

</div>
</div>
