


                    html{
                       scroll-behavior: smooth;
                   }
                   body {

                   overflow-x: hidden;
                   }
                   .wrapper{
                        background-color:#252934;
                       color: #fff; }
