<div class="row" id="about-info" style=" padding-top: 100px;">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

        <img src="../../../assets/draig2.jpg" class="img-fluid" id="fotoperfil">

    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">
            {{persona.nombre}}
            {{persona.apellido}}</p>
        <p class="tittle">
            FullStack Developer Jr</p>


    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

        <h2>Acerca de mí...</h2>


        <p class="me">{{persona.descripcion}}</p>
        <div
            class="text-center">
            <!--boton agregar editar educ-->
            <button type="button" class="btn btn-primary" routerlink="/editacercade/1" *ngIf="isLogged">
                <a class="nav-link" style="color:aliceblue">
                    Editar Acerca de mí</a>
            </button>
        </div>


    </div>
