<div class="container">
  <div class="row">
      <div>
          <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
              <div class="form-group">
                  <label for="nombreE">Lugar de trabajo</label>
                  <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
              </div>
              <div class="form-group">
                  <label for="descripcionE">Descripcion </label>
                  <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
              </div>
              <button class="btn btn-dark">
                  Agregar datos
              </button>
          </form>
      </div>
  </div>
</div>
