
  <div class="row" id="about-info" style=" padding-top: 100px;" >



    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

      <img src="../../../assets/draig2.jpg" class="img-fluid" id="fotoperfil">

    </div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
  <p  id="nombre"> {{persona.nombre}} {{persona.apellido}}</p>
      <p  class="tittle"> FullStack Developer Jr</p>


</div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
<span>
  <h2>Acerca de mí...</h2>
    <p class="me">Soy un apasionado de la informatica en general, también músico, productor musical y escritor.
       Mi enfoque actual en relación al mundo de la programación es el Front-End y el Testing. Estudio la carrera de Cs. Ambientales en la Universidad Nacional de Catamarca paralelamente a programación.</p>

 </span>
  </div>


  </div>


